<div class="container__big-card">
  <div class="big-card__photo">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
   alt=""
   srcset=""
   height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">
      Projetos
      </a>
  </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec neque pretium,
        molestie massa a, dictum enim. Nullam metus eros, malesuada nec diam eu, finibus pretium justo.
        Nullam ac purus faucibus, ultricies felis mattis, malesuada enim.
        Praesent vehicula ex nec nulla sollicitudin bibendum.
        </a>
    </p>
  </div>
</div>
