<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_u0Ps5ZRGWZL46ba9Ci-Jyr2YSgUsUcplgo_o5yGjBokS8DJeP7tURY593cfD7m4L7hk&usqp=CAU"
        alt=""
        srcset=""
        height="200px"
      />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#"> Veja novo filme Star Wars </a>
      </h1>
    </div>
    </div>
    <div class="container__small-card__separator">
      <hr>
    </div>
</div>

