<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/devbackendpedrosouza/"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="" srcset=""></a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/Pedrosouzacruz"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="" srcset=""></a></li>
    <li><span>•</span></li>
    <li><a href="https://wa.me/+5534997733919"><img src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white" alt="" srcset=""></a></li>
  </ul>
</div>
